body {
    background-color: lightblue;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

.petImage {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 145, 255);
}

#idPetImage {
    width: 200px;
    height: 250px;
    margin: 50px;
}